<%- include('includes/head.ejs') %>
  </head>

  <body>
    <div class="main-background">
      <div class="nav">
        <a href="/dashboard" class="nav" style="border-radius: 0px; font-size: .75em;">Dashboard</a>
      </div>
      <div class="">
        <div class="" style="height: 400px;">
          <div class="form-header">
            <h2 class="form-title">Edit Profile</h2>
          </div>
          <% if (errorMessage) { %>
            <div class="user-message user-message--error">
              <%= errorMessage %>
            </div>
            <% } %>

              <form action="/updateProfile" method="POST">
                <div class="centered">
                  <div class="">
                    <label for="name"></label>
                    <input class="<%= validationErrors.find(e => e.param === 'name') ? 'invalid' : '' %>" type="text"
                      name="name" id="name" value="<%= oldInput.name %>" placeholder=" New Username">
                  </div>
                </div>
                <!--<div class="form-btn-container">-->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-signup" type="submit">Save</button>
              </form>

        </div>
      </div>