<%- include('includes/head.ejs') %>
    </head>
        <body>
            <div class="form-container">
                <div class="main-form">
                    <div class="form-header">
                        <h2 class="form-title">Login To Play!</h2>

                        <% if (errorMessage) { %>
                            <div class="user-message user-message--error">
                                <%= errorMessage %>
                            </div>
                            <% } %>
                    </div>

                    <form action="/login" method="POST"><!--novalidate method="POST"-->
                        <div class="form-input-container">
                            <div>
                                <label for="email"></label>
                                <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                                    type="email" name="email" id="email" value="<%= oldInput.email %>"
                                    placeholder="Email">
                            </div>
                            <div>
                                <label for="password"></label>
                                <input
                                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                                    type="password" name="password" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-btn-container">
                                <input type="hidden" id="latitude" name="latitude" value="">
                                <input type="hidden" id="longitude" name="longitude" value="">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn btn-login" type="submit">Login</button>

                            <div class="sbs">
                                    <a href="/signup">Sign Up</a>
                                    <a href="/reset">Reset Password</a>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
                <script src="/js/geolocation.js"></script>
            <%- include('includes/end.ejs') %>