<%- include('includes/head.ejs') %>
<body>
        <div class="form-container">
            <div class="main-form">
                <div class="form-header">
                    <h2 class="form-title">Sign Up!</h2>

                    <% if (errorMessage) { %>
                        <div class ="user-message user-message--error">
                            <h2><%= errorMessage %></h2></div>
                    <% } %>
                </div>

                <form action="/signup" method="POST">
                    <div class="form-input-container">
                        <div>
                            <label for="name"></label>
                            <input class="<%= validationErrors.find(e => e.param === 'name') ? 'invalid' : '' %>" type="text" name="name" id="name" value="<%= oldInput.name %>" placeholder="Username">
                        </div>
                        <div>
                            <label for="email"></label>
                            <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>" type="email" name="email" id="email" value="<%= oldInput.email %>" placeholder="Email">
                        </div>
                        <div>
                            <label for="country"></label>
                            <input class="<%= validationErrors.find(e => e.param === 'country') ? 'invalid' : '' %>" type="text" name="country" id="country" value="<%= oldInput.country %>" placeholder="Zip">
                        </div>
                    
                        <div>
                            <label for="password"></label>
                            <input class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" type="password" name="password" id="password" value="<%= oldInput.password %>" placeholder="Password">
                        </div>
                        <div>
                            <label for="confirmPassword"></label>
                            <input class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>" type="password" name="confirmPassword" id="confirmPassword" value="<%= oldInput.confirmPassword %>" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="form-btn-container">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-signup" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
   
    <%- include('includes/end.ejs') %>
